/* SubmissionForm.css */
body,
html {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #d8370d;
    height: 100vh;
}

body {
    align-items: center;
}

.content-container {
    width: 1200px;
    margin: auto;

}

.submission-form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* Adjust the percentage as needed */
    background-color: #d8370d;
    text-align: center;
}

.submission-form {
    width: 1200px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submission-form textarea {
    width: calc(100% - 16px);
    height: 1200px;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 10px;
    resize: vertical;
}

.anonymous-checkbox {
    margin-top: 10px;
}

.submission-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.submission-button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .submission-form {
        width: 100%;
    }
}